output_data/p1/New_Negative_trim.sam filter=lfs diff=lfs merge=lfs -text
output_data/p1/Negative_trim.sam filter=lfs diff=lfs merge=lfs -text
output_data/p1/Negative_local.sam filter=lfs diff=lfs merge=lfs -text
input_data/p1/fastq/trimmed_Negative.fq filter=lfs diff=lfs merge=lfs -text
input_data/p1/fastq/NEW_base_trimmed_Negative.fq filter=lfs diff=lfs merge=lfs -text
